name: "Validate"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write
  security-events: write

jobs:
  validate:
    uses: ./.github/workflows/_check.yml

  terraform-plan:
    if: github.event_name == 'pull_request'
    concurrency: "sandbox"
    needs: [validate]
    uses: ./.github/workflows/_tf_plan.yml
    with:
      environment: "sandbox"
      enabled_cache_plan: false
    secrets: inherit
